%h1.general-title-margin= t('.checkout')
%ul.steps.list-inline
  %li.step.active
    %span.step-number 1
    %span.step-text.hidden-xs= t('.address')
  %li.step-divider
  %li.step
    %span.step-number 2
    %span.step-text.hidden-xs= t('.delivery')
  %li.step-divider
  %li.step
    %span.step-number 3
    %span.step-text.hidden-xs= t('.payment')
  %li.step-divider
  %li.step
    %span.step-number 4
    %span.step-text.hidden-xs= t('.confirm')
  %li.step-divider
  %li.step
    %span.step-number 5
    %span.step-text.hidden-xs= t('.complete')
= form_for @address, :url => checkout_path(user_id: current_user, step: :address, next_render: :delivery), :method => :put, :html => {:id => "form1"} do |f|
  .hidden-xs.hidden-sm
    .row
      .col-md-5 
        %h3.general-subtitle= t('.billing_address')
        %p.general-info-text= t('.all_fields_are_required')
      .col-md-5.col-md-offset-1
        %h3.general-subtitle= t('.shipping_address')
        %p.general-info-text= t('address.all_fields_required')
  .row
    .col-md-5.mb-40
      = render 'address_form', f: @address.billing_address, address: @address.billing_address, address_type: :billing_address
    .col-md-5.col-md-offset-1.mb-60
      = render 'address_form', f: @address.shipping_address, address: @address.shipping_address, address_type: :shipping_address do
        .form-group.checkbox
          %label.checkbox-label
            = check_box_tag "check", "true", false, class: "checkbox-input", checked: check?, onchange: "document.getElementById('form2').style.display = this.checked ? 'none' : 'block'"
            %span.checkbox-text= t('.use_billing_adress')
  .general-text-align.mb-60
    %p.in-gold-500.font-18= t('order_summary')
    %table.general-summary-table
      %tr
        %td
          %p.font-16= t('.item_total')
        %td
          %p.font-16= number_to_currency(@order.total_price)
      %tr
        %td
          %p.font-16= t('.order_total')
        %td
          %p.font-16= number_to_currency(@order.total_price - @order.coupon&.price.to_i)
    = f.submit I18n.t('save_and_continue'), { class: 'btn center-block mb-20' }
