%h1.general-title-margin= t('.checkout')
%ul.steps.list-inline
  %li.step.active
    %span.step-number 1
    %span.step-text.hidden-xs= t('.address')
  %li.step-divider
  %li.step
    %span.step-number 2
    %span.step-text.hidden-xs= t('.delivery')
  %li.step-divider
  %li.step
    %span.step-number 3
    %span.step-text.hidden-xs= t('.payment')
  %li.step-divider
  %li.step
    %span.step-number 4
    %span.step-text.hidden-xs= t('.confirm')
  %li.step-divider
  %li.step
    %span.step-number 5
    %span.step-text.hidden-xs= t('.complete')
  .hidden-xs.hidden-sm
    .row
      .col-md-5 
        %h3.general-subtitle= t('.billing_address')
        %p.general-info-text= t('.all_fields_are_required')
      .col-md-5.col-md-offset-1
        %h3.general-subtitle= t('.shipping_address')
    = form_for @address, :url => order_path(user_id: current_user), :method => :put, :html => {:id => "form1"} do |f|
      = render 'address_form', f: f
