%h1.general-title-margin= t('.checkout')
%ul.steps.list-inline
  %li.step.active
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs= t('.address')
  %li.step-divider
  %li.step.active
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs= t('.delivery')
  %li.step-divider
  %li.step.active
    %span.step-number 3
    %span.step-text.hidden-xs= t('.payment')
  %li.step-divider
  %li.step
    %span.step-number 4
    %span.step-text.hidden-xs= t('.confirm')
  %li.step-divider
  %li.step
    %span.step-number 5
    %span.step-text.hidden-xs= t('.complete')
%h3.general-subtitle= t('.credit_card')
= form_for @card, :url => order_path, :method => :put, :html => { :class => 'max-600 mb-80'} do |f|
  .form-group{class: "#{"has-error" if card_has_error?(:card_number)}"}
    = f.label :card_number, t('.card_number'), { class: 'control-label font-weight-lights', for: "cardNumber" }
    = f.text_field :card_number, { class: 'form-control', id: 'cardNumber', type: "text", name: "card_number", placeholder: "Card Number" }
    %span.help-block= card_error_message(:card_number) if @card.errors.any?
  .row
    .col-sm-6
      .form-group{class: "#{"has-error" if card_has_error?(:name_on_card)}"}
        = f.label :name_on_card, t('.name_on_card'), { class: 'control-label font-weight-lights', for: "cardName" }
        = f.text_field :name_on_card, { class: 'form-control', id: 'cardName', type: "text", name: "name_on_card", placeholder: "Name on Card" }
        %span.help-block= card_error_message(:name_on_card) if @card.errors.any?
    .col-sm-3
      .form-group{class: "#{"has-error" if card_has_error?(:mm_yy)}"}
        = f.label :mm_yy, t('.mm_yy'), { class: 'control-label font-weight-lights', for: "firstName" }
        = f.text_field :mm_yy, { class: 'form-control', id: 'firstName', name: "mm_yy", type: "text", placeholder: "MM / YY" }
        %span.help-block= card_error_message(:mm_yy) if @card.errors.any?
    .col-sm-3
      .form-group.relative{class: "#{"has-error" if card_has_error?(:cvv)}"}
        = f.label :cvv, t('.cvv'), { class: 'control-label font-weight-lights', for: "cvv" }
        = f.text_field :cvv, { class: 'form-control', id: 'cvv', name: "cvv", type: "text", placeholder: "CVV" }
        %i.fa.fa-question-circle.general-form-help.font-18
        <a href="#" title="The CVV number (Card Verification Value) on a credit card is a 3-4 digit number on VISA, MasterCard" class="fa fa-question-circle general-form-help font-18" style="text-decoration: none;"></a>
        %span.tooltip
        %span.help-block= card_error_message(:cvv) if @card.errors.any?
      .form-group.relative
  .general-text-align
  %p.in-gold-500.font-18= t('.order_total')
  %table.general-summary-table
    %tr
      %td
        %p.font-16= t('.subtotal')
      %td
        %p.font-16= number_to_currency(@order.total_price + @order.delivery.price)
    %tr
      %td
        %p.font-16= t('.coupon') 
      %td
        %p.font-16= number_to_currency(@order.coupon&.price.to_i)
    %tr
      %td
        %strong.font-18= t('.order_total')
      %td
        %strong.font-18= number_to_currency(@order.total_price + @order.delivery.price - @order.coupon&.price.to_i)
  .text-center
    = f.submit 'Save and Continue', {class: 'btn btn-default mb-80'}
