#slider.carousel.slide{'data-ride': "carousel"}
  %ol.carousel-indicators.general-carousel-indicators
    %li.active{'data-target': "#slider", 'data-slide-to': "0"}
    %li{'data-target': "#slider", 'data-slide-to': "1"}
  .carousel-inner{role: "listbox"}
    - @favorites.latest_products.each_index do |i|
      .item{class: ("active" if i == 0)}
        .row
          .col-sm-5
            .general-img-wrap 
              %img.img-shadow.general-thumbnail-img.width-full{src: @favorites.latest_products[i].covers.first&.image_url, alt: "design-book"}
          .col-sm-7
            .mb-60
              %h1= @favorites.latest_products[i].title
              %p.lead= @favorites.latest_products[i].description
              %p.in-grey-600.small= @favorites.latest_products[i].authors.map { |author| "#{author.first_name} #{author.last_name}" }.join(', ')
              .general-align.pt-20
                = button_to t('.buy_now'), order_items_path(product_id: @favorites.latest_products[i], redirect_to: home_path, order_id: @order.id), method: :post, class: "btn"
  %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
    %span.icon-prev{'aria-hidden': "true"}
    %span.sr-only= t('.previous')
  %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
    %span.icon-next{'aria-hidden': "true"}
    %span.sr-only= t('.next')
.container
.jumbotron.text-center.mb-0
  %h2.h1= t('.welcome')
  .mb-res-50
    %p.in-grey-600= t('.we_pore')
  = button_to t('.get_started'), catalog_path(:category_id => @categories.ids), method: "get", class: "btn btn-default"
.mb-35
  %h3= t('.best_sellers')
  .row
    -if @favorites.bestsellers
      - @favorites.bestsellers.each do |product|
        .col-sm-6.col-md-3
          .general-thumb-wrap
            .thumbnail.general-thumbnail
              %img.img-shadow.general-thumbnail-img{src: product.covers.first&.image_url, alt: "design-book"}
              .thumb-hover
                .general-thumb-link-wrap
                  %a.thumb-hover-link{href: "#{product_path(id: product)}"}
                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                  = link_to order_items_path(product_id: product.id, order_id: @order.id, redirect_to: home_path), method: :post, class: "thumb-hover-link" do
                    %i.fa.fa-shopping-cart.thumb-icon
          .mb-35
            .clearfix
              %p.pull-right.font-16.in-gold-500= number_to_currency(product.price)
              %p.general-title.mr-55= product.title
            %span.divider-sm
            %p.in-grey-600.small= product.authors.map { |author| "#{author.first_name} #{author.last_name}" }.join(', ')
