= semantic_form_for [:admin, @product], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs do
    = f.input :title
    - collected_authors = Author.all.map{ |author| ["#{author.first_name} #{author.last_name}", author.id, { checked: f.object.authors.include?(author.id.to_s)}] }
    = f.input :authors, as: :check_boxes, collection: collected_authors
    = f.input :category, label: 'category', as: :select, collection: Category.all.map{|category| [category.category, category.id] }
    = f.input :description
    = f.input :year
    = f.input :dimensions
    = f.input :materials
    = f.input :price
  = semantic_form_for [:admin, @product.covers.first], builder: ActiveAdmin::FormBuilder do |f|
    = f.inputs do
      = f.input :id, :as => :hidden
      = f.input :product_id, :as => :hidden
      = f.input :cover_product, :as => :file, :hint => image_tag(f.object.image_url.url(:thumb))
      = f.actions
