= form_for(@product.comments.build, url: product_comments_path, :method => :post) do |f|
  .hidden-xs.hidden-sm
    .row
      .col-md-8
        %h4.general-subtitle.mb-20= t('.write_a_review')
  .row
    .col-md-8.mb-40
      .visible-xs.visible-sm
        %h3.general-subtitle.mt-0= t('.write_a_review')
      .form-group.mb-20
        %label.control-label.font-weight-light.in-grey-600{for: :rate}= t('.rating')
        .rating.form-group.mb-15
          - 5.times do |rate|
            %label
              = f.radio_button :rate, "#{rate + 1}"
              %i.fa.fa-star
        %span.help-block
      .form-group
        %label.control-label.font-weight-light.in-grey-600{for: :body}= t('.review')
        = f.hidden_field :product_id, value: @product.id
        = f.hidden_field :user_id, value: current_user.id
        = f.text_field :title, required: true, class: 'form-control', placeholder: 'title', maxlength: 80
        %span.help-block
        = f.text_area :body, required: true, class: 'form-control', placeholder: 'body', maxlength: 500
        %span.help-block
      = f.submit "Post", class: 'btn pull-right'
  