= form_for([@product, @product.comments.build]) do |f|
  .hidden-xs.hidden-sm
    .row
      .col-md-8
        %h4.general-subtitle.mb-20= t('.write_a_review')
  .row
    .col-md-8.mb-40
      .visible-xs.visible-sm
        %h3.general-subtitle.mt-0= t('.write_a_review')
      .form-group.mb-20{class: "#{"has-error" if comments_has_error?(:rate)}"}
        %label.control-label.font-weight-light.in-grey-600{for: :rate}= t('.rating')
        = f.number_field :rate, type: "text", required: true, pattern:"[1-5]{1,}", maxlength: "1", class: 'form-control', placeholder: '1-5'
        %span.help-block= comments_error_message(:rate) #if @commen.errors.any?
      .form-group{class: "#{"has-error" if comments_has_error?(:body)}"}
        %label.control-label.font-weight-light.in-grey-600{for: :body}= t('.review')
        = f.hidden_field :product_id, value: @product.id
        = f.hidden_field :user_id, value: current_user.id
        = f.text_field :titel, required: true, class: 'form-control', placeholder: 'titel'
        %span.help-block= comments_error_message(:titel) #if @comment.errors.any?
        = f.text_area :body, required: true, class: 'form-control', placeholder: 'body'
        %span.help-block= comments_error_message(:body) #if @comment.errors.any?
      = f.submit "Post", class: 'btn pull-right'
  